{% extends 'base.html' %}

{% block content %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s10 m8 offset-s1 offset-m2">
                <div class="row">
                    <div class="col s12">
                        <p class="center-align flow-text bold-text">Password changed</p>
                    </div>
                </div>
                <div class="row z-depth-3 white round-corner">
                    <div class="row">
                        <div class="col s10 offset-s1">
                            <p class="center-align">Your password has been set. You may go ahead and sign in now.
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s10 offset-s1">
                            <div class="center-align">
                                <a class="waves-effect waves-light btn-large bg-button round-corner" type="button"
                                    href="{% url 'login' %}">Sign In</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}