/* General */

html {
    font-size: 18px;
}

.p0 {
    padding: 0;
}

.m0 {
    margin: 0;
}

.bold-text {
    font-weight: 700;
}

a {
    color: #1049B3;
}

a:hover {
    color: #022463;
}

.round-corner {
    border-radius: 15px;
}

.hide {
    display: none;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pt25 {
    padding-top: 25px;
}

.pb20 {
    padding-bottom: 20px;
}

.min-h110 {
    min-height: 110px !important;
}

/* Materiali override */

i.material-icons.prefix {
    color: #FFAF02;
}

.material-icons.prefix.active {
    color: #dd9803;
}

/* Navigation */

nav.navbar-top {
    background-color: #1049B3;
    height: 35px;
    line-height: 35px;
    font-weight: 300;
}

ul.right {
    margin-right: 20px;
}

nav.navbar-top a {
    font-size: 14px;
}

.navbar-main {
    background-color: #FFE1A1;
}

.navbar-main a {
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 300;
}

i.material-icons {
    float: left;
    ;
}

.side-nav li>a>i.material-icons {
    margin: 0;
}

nav ul a span.badge {
    margin-left: -2px;
    transform: translate(-5px, -2px);
}

.side-nav span.badge {
    transform: translate(0, -2px);
}

span.badge {
    min-width: 0;
    font-size: 0.75rem;
    border-radius: 50%;
}

.cart-gift-image {
    width: 100px;
    overflow: hidden;
}

.cart-gift-image img {
    width: 100%;
}

i.right {
    margin-left: 0;
}

.cart-center-item {
    margin-left: auto;
    margin-right: auto;
}

.input-field label {
    text-align: center;
}

/* Content block */

.section {
    background-color: #f9f9f9;
    min-height: 50vh;
}

form {
    padding: 20px 5px;
}

.form-gift {
    padding: 0;
}

.profile-card {
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 300;
}

.form-help-text {
    font-size: 14px;
    font-style: italic;
    color: #696969;
}

.form-error-text {
    font-size: 14px;
    font-style: italic;
    color: #ff0000;
}

input[type=password]:focus, input[type=email]:focus, input[type=text]:focus, input[type=number]:focus {
    border-bottom: 1px solid #FFAF02 !important;
    box-shadow: 0 1px 0 0 #FFAF02 !important;
}

.bg-button {
    background-color: #FFAF02;
}

.bg-button:hover {
    background-color: #dd9803;
}

.quantity-input {
    max-width: 100px;
    margin-right: 15px !important;
}

select {
    display: block !important;
}

.transparent-box {
    background-color: #000000;
    opacity: 65%;
    padding: 10px;
}

.transparent-box h4 {
    font-size: 25px;
}

.transparent-box h6 {
    font-size: 20px;
}

.row.slider-center {
    position: absolute;
    top: 50%;
    width: 100%;
}

i#next {
    position: absolute;
    right: 10px;
    color: #fff;
    background: #634e4e99;
    font-size: 35px;
    font-weight: 800;
    border-radius: 50px;
    border: 1px solid;
}

i#prev {
    position: absolute;
    left: 20px;
    color: #fff;
    background: #634e4e99;
    font-size: 35px;
    font-weight: 800;
    border-radius: 50px;
    border: 1px solid;
}

/* Subscribe section */

.subscribe {
    position: relative;
}

.subscribe-image-bg {
    filter: blur(4px);
}

.subscribe-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.subscribe-content-text {
    font-size: 50px;
}

/* Footer */

.footer {
    background-color: #c5c5c5;
    color: #3d3d3d;
}

.footer a {
    color: #3d3d3d;
}

/* Media query */

@media (min-width: 601px) {
    .transparent-box {
        padding: 20px;
    }
    .transparent-box h4 {
        font-size: 45px;
    }
    .transparent-box h6 {
        font-size: 25px;
    }
}

@media (min-width: 992px) {
    .section {
        min-height: 80vh;
    }
    .subscribe-content-text {
        margin-top: 30%;
    }
    form {
        padding: 30px;
    }
    .profile-card {
        padding-left: 20px;
        padding-right: 20px;
    }
    .transparent-box {
        padding: 30px;
    }
    .transparent-box h4 {
        font-size: 55px;
    }
}