html {
    font-size: 18px;
}

nav.navbar-top {
    height: 35px;
    line-height: 35px;
}

nav.navbar-top a {
    font-size: 14px;
}

.navbar-main {
    background-color: #c5c5c5;
}

.navbar-main a {
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 500;    
}

.subscribe-image-bg {
    filter: blur(4px);
}

.subscribe-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.subscribe-content-text {
    font-size: 50px;
}

.footer {
    background-color: #c5c5c5;
    color: #3d3d3d;
}

.footer a {
    color: #3d3d3d;
}

@media (min-width: 992px) {
    .subscribe-content-text {
        margin-top: 30%;
    }
}