/* General */

html {
    font-size: 18px;
}

.bold-text {
    font-weight: 700;
}

a {
    color: #1049B3;
}

a:hover {
    color: #022463;
}

.round-corner {
    border-radius: 15px;
}

/* Navigation */

nav.navbar-top {
    background-color: #1049B3;
    height: 35px;
    line-height: 35px;
    font-weight: 300;
}

ul.right {
    margin-right: 20px;
}

nav.navbar-top a {
    font-size: 14px;
}

.navbar-main {
    background-color: #FFE1A1;
}

.navbar-main a {
    color: #3d3d3d;
    font-size: 20px;
    font-weight: 300;    
}

/* Content block */

.section {
    background-color: #f9f9f9;
    min-height: 80vh;
}

form {
    padding: 20px 5px;
}

.profile-card {
    padding-left: 40px;
    padding-right: 40px;
    font-weight: 300;
}

.form-help-text {
    font-size: 12px;
    color: #696969;
}

.form-error-text {
    font-size: 14px;
    color: #ff0000;
}

.bg-button {
    background-color: #FFAF02;
}

.bg-button:hover {
    background-color: #dd9803;
}

/* Subscribe section */

.subscribe {
    position: relative;
}

.subscribe-image-bg {
    filter: blur(4px);
}

.subscribe-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.subscribe-content-text {
    font-size: 50px;
}

/* Footer */

.footer {
    background-color: #c5c5c5;
    color: #3d3d3d;
}

.footer a {
    color: #3d3d3d;
}

/* Media query */

@media (min-width: 992px) {
    .subscribe-content-text {
        margin-top: 30%;
    }
    form {
        padding: 30px;
    }
    .profile-card {
        padding-left: 20px;
        padding-right: 20px;
    }
}