{% extends "base.html" %}

{% load static from staticfiles %}

{% block head_js %}
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript">
    //<![CDATA[
    Stripe.publishableKey = '{{ publishable }}';
    //]]>
</script>
<script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <h4 class="center-align">Checkout</h4>
            </div>
        </div>
        <div class="row z-depth-3 white round-corner">
            <div class="col s6">
                <h6>Total:</h6>
            </div>
            <div class="col s6">
                <h6 class="right-align">£ {{ total }}</h6>
            </div>
        </div>
        <form role="form" method="post" id="payment-form" action="{% url 'checkout' %}">
            {% csrf_token %}
            <div id="credit-card-errors" style="display: none;">
                <div class="alert-message block-message error" id="stripe-error-message"></div>
            </div>
            <div class="row z-depth-3 white round-corner">
                <div class="col s12 m6 offset-m3">
                    <div class="profile-card">
                        {% for field in order_form %}
                        <div class="input-field">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.help_text %}
                            <p class="form-help-text">{{ field.help_text }}</p>
                            {% endif %}
                            {% for error in field.errors %}
                            <p class="form-error-text">{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row z-depth-3 white round-corner">
                <div class="col s12 m6 offset-m3">
                    {{ payment_form }}
                </div>
            </div>
            <div class="col s12 m6">
                <div class="center-align">
                    <input class="waves-effect waves-light btn-large bg-button round-corner" id="submit_payment_btn"
                        name="commit" type="submit" value="Submit Payment">
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}