{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="{% static 'toasts/css/jquerytoast.css' %}" rel="stylesheet" >
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Give Help</title>
</head>

<body>

    <nav class="navbar-top hide-on-med-and-down">
        <div class="nav-wrapper grey darken-1">
            <ul class="right">
                <li><a href="">Shop</a></li>
                {% if user.is_authenticated %}
                <li><a href="">{{ user.first_name }}'s account</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'registration' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="">Search</a></li>
            </ul>
        </div>
    </nav>
    <nav class="navbar-main">
        <div class="nav-wrapper">
            <a href="" class="brand-logo"></a>
            <a href="" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="">Home</a></li>
                <li><a href="">Donate</a></li>
                <li><a href="">Gallery</a></li>
                <li><a href="">About</a></li>
                <li><a href=""><i class="material-icons">shopping_cart</i></a></li>
            </ul>
            <ul class="side-nav" id="mobile">
                <li><a href="">Home</a></li>
                <li><a href="">Donate</a></li>
                <li><a href="">Shop</a></li>
                <li><a href=""><i class="material-icons">shopping_cart</i></a></li>
                <li>
                    <div class="divider"></div>
                </li>
                {% if user.is_authenticated %}
                <li><a href="">{{ user.first_name }}'s account</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'registration' %}">Register</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="">Gallery</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Search</a></li>
            </ul>
        </div>
    </nav>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>
                    $(document).ready(function () {
                        $.toast({
                            text: '{{ message }}',
                            position: 'top-center',
                            textAlign: 'center',
                            icon: '{{ message.tags }}',
                            hideAfter: 10000
                        });
                    });
                </script>
            {% endif %}
        {% endfor %}
    {% endif %}

    {% block content %}{% endblock %}

    <section class="subscribe">
        <div class="parallax-container">
            <div class="parallax">
                <img class="subscribe-image-bg" src="{% static 'img/subscribe-bg.jpg' %}">
            </div>
        </div>
        <div class="subscribe-content">
            <p class="subscribe-content-text">Test subscribe text</p>
        </div>
    </section>

    <footer class="page-footer footer">
        <div class="container">
            <div class="row">
                <div class="col m6 s12 center-align">
                    <h5>Content</h5>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Ratione, explicabo perspiciatis? Commodi porro nulla sit reiciendis magni natus, perferendis
                        libero.</p>
                </div>
                <div class="col m3 s12 center-align">
                    <h5>Links</h5>
                    <ul>
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                    </ul>
                </div>
                <div class="col m3 s12 center-align">
                    <h5>Links</h5>
                    <ul>
                        <li><a href="">Link 1</a></li>
                        <li><a href="">Link 2</a></li>
                        <li><a href="">Link 3</a></li>
                        <li><a href="">Link 4</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center-align grey-text text-darken-3">
                © May 2020. This website was created for educational purposes! Do not use real credit cards.
            </div>
        </div>
    </footer>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'toasts/js/jquerytoast.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>