{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="{% static 'toasts/css/jquerytoast.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <title>Give Help</title>
    {% block head_js %}
    {% endblock %}
</head>

<body>

    {% include 'navbar.html' %}

    {% include 'messages.html' %}

    {% block content %}{% endblock %}

    <section class="subscribe">
        <div class="parallax-container">
            <div class="parallax">
                <img class="subscribe-image-bg" src="{% static 'img/subscribe-bg.jpg' %}" alt="subscribe">
            </div>
        </div>
        <div class="subscribe-content">
            <div class="row m0">
                <div class="col">
                    <h4 class="center-align pb20">Signup to our newsletter to keep up to date with our story</h4>
                </div>
            </div>
            <div class="row m0">
                <form method="POST" action="{% url 'email_list_signup' %}">
                    {% csrf_token %}
                    <div class="col s12 m6">
                        <div class="center-align">
                            {% for field in subscribe_form %}
                            {{ field }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col s12 m6">
                        <div class="center-align subscribe-button">
                            <button class="waves-effect waves-light btn-large bg-button round-corner"
                                type="submit">Subscribe</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    {% autoescape off %}
    {{ features}}
    {% endautoescape %}

    {% include 'footer.html' %}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="{% static 'toasts/js/jquerytoast.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>

</html>