<footer class="page-footer footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12 center-align">
                <ul>
                    <li><a href="https://www.daruiesteviata.ro/proiecte" target="_blank" title="Visit Daruieste Viata"
                            aria-label="Visit give life dot ro" rel="noopener">This website was created only for
                            educational propose with daruiesteviata.ro support</a>
                    </li>
                </ul>
            </div>
            <div class="col l3 s12 center-align">
                <ul>
                    <li><a href="https://www.daruiesteviata.ro" target="_blank" aria-label="donate" rel="noopener">Get
                            involved, donate!</a>
                    </li>
                </ul>
            </div>
            <div class="col l3 s12 center-align">
                <ul>
                    <li><a href="https://www.daruiesteviata.ro" target="_blank" rel="noopener">Create your
                            campaign</a>
                    </li>
                    <li><a href="https://www.daruiesteviata.ro/despre" target="_blank" rel="noopener">About Daruieste
                            Viata</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align white-text text-darken-3">
            © May 2020. Do not use real credit cards on this website.
        </div>
    </div>
</footer>