<footer class="page-footer footer">
    <div class="container">
        <div class="row">
            <div class="col m6 s12 center-align">
                <h5>Content</h5>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Ratione, explicabo perspiciatis? Commodi porro nulla sit reiciendis magni natus, perferendis
                    libero.</p>
            </div>
            <div class="col m3 s12 center-align">
                <h5>Links</h5>
                <ul>
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>
            <div class="col m3 s12 center-align">
                <h5>Links</h5>
                <ul>
                    <li><a href="">Link 1</a></li>
                    <li><a href="">Link 2</a></li>
                    <li><a href="">Link 3</a></li>
                    <li><a href="">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center-align white-text text-darken-3">
            © May 2020. This website was created for educational purposes! Do not use real credit cards.
        </div>
    </div>
</footer>