<nav class="navbar-top hide-on-med-and-down">
    <div class="nav-wrapper">
        <ul class="right">
            <li><a class="white-text" href="{% url 'gifts' %}">Shop</a></li>
            {% if user.is_authenticated %}
            <li><a class="white-text" href="{% url 'view_profile' %}">{{ user.first_name }}'s account</a></li>
            <li><a class="white-text" href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a class="white-text" href="{% url 'registration' %}">Register</a></li>
            <li><a class="white-text" href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <li><a class="white-text" href="">Search</a></li>
        </ul>
    </div>
</nav>
<nav class="navbar-main">
    <div class="nav-wrapper">
        <a href="" class="brand-logo"></a>
        <a href="" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right">
            <li><a class=" hide-on-med-and-down" href="/">Home</a></li>
            <li><a class=" hide-on-med-and-down" href="">Donate</a></li>
            <li><a class=" hide-on-med-and-down" href="">Gallery</a></li>
            <li><a class=" hide-on-med-and-down" href="">About</a></li>
            <li>
                <a href="{% url 'view_cart' %}">
                    <i class="material-icons">shopping_cart</i>
                    {% if gift_count > 0 %}
                    <span class="white-text badge red">{{gift_count}}</span>
                    {% endif %}
                </a>
            </li>
        </ul>
        <ul class="side-nav" id="mobile">
            <li><a href="/">Home</a></li>
            <li><a href="">Donate</a></li>
            <li><a href="{% url 'gifts' %}">Shop</a></li>
            <li>
                <a href="{% url 'view_cart' %}">
                    <i class="material-icons">shopping_cart</i>
                    {% if gift_count > 0 %}
                    <span class="white-text badge red">{{gift_count}}</span>
                    {% endif %}
                </a>
            </li>
            <li>
                <div class="divider"></div>
            </li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'view_profile' %}">{{ user.first_name }}'s account</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'registration' %}">Register</a></li>
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
            <li><a href="">Gallery</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Search</a></li>
        </ul>
    </div>
</nav>